<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width" />
  <title>Change Password</title>
  <link rel="stylesheet" th:href="@{css/bootstrap.css}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
	<form method="post" th:action="@{/login}"> 
	
    <div class="mydiv center-block">
        <p>Thay đổi mật khẩu cho tài khoản : <label th:text="${userId}"/> </p>
         <p><input type="text" th:value="${userId}" name="userId" class="form-control" style="width:100%;max-width:100%;"  placeholder="Nhập tên tài khoản ..." autofocus maxlength = "10" required hidden></p>
        <div th:if="${param.fail}"><p style="color:red;">Sai thông tin</p></div>
        <p><strong>Mật khẩu : </strong>
         <p><input type="password" name="password" id="password" class="form-control pull-left" style="width:100%;max-width:100%;"  placeholder="Nhập mật khẩu ..." maxlength = "20" required></p>
          <br>
          <br>
          <p><strong>Nhập lại mật khẩu : </strong>
         <p><input type="password" name="checkPassword" id="checkPassword" class="form-control pull-left" style="width:100%;max-width:100%;"  placeholder="Nhập lại mật khẩu ..." maxlength = "20" required></p>
          <script>
				function myFunction() {
  					var x = document.getElementById("password");
  					var y = document.getElementById("checkPassword");
  					if (x.type == "password" && y.type == "password") {
   						 x.type = "text";
   						 y.type = "text";
   						document.getElementById("a").innerHTML  = "Ẩn mật khẩu";
  					} else {
   					 	x.type = "password";
   					 	 y.type = "password";
   					 	document.getElementById("a").innerHTML = "Hiện mật khẩu";
 			     	}
				}
			</script>
			<br>
			<br>
         <p class="checkbox-inline"><input type="checkbox" onclick="myFunction()" name="show-password" id="show-password"><label for="show-password" id="a">Hiện mật khẩu</label></p>
        <br>
         <br />
        <input type="submit" value="Xác nhận" class="btn btn-info" style="width:100%;max-width:100%;" />
        <br />
        <br>
        <p><a th:href="@{/send-mail}" class="form-control" style="text-align:center;text-decoration:none;border-radius:16px;" ><i class="fa fa-undo" aria-hidden="true"></i> Trở lại</a></p>
    </div>
    </form>
</body>
</html>